<div class="jumbotron text-center">
    <h1 class="display-2">{{title}}</h1>
    <div class="lead">Save the great ideas you have in right now...</div>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Your Idea</a>
</div>