<div class="card card-body">
    <h3>New Note</h3>
    <form action="/ideas" method="post">
        <div class="form-group">
            <label for="title">Header</label>
            <input type="text" class="form-control" name="title" value="{{title}}" required>
        </div>
        <div class="form-group">
            <label for="title">Details</label>
            <textarea type="text" class="form-control" name="details" required>{{details}}</textarea>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-secondary" type="submit">Add Note</button>
        </div>
    </form>
</div>